<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
    <div class="customer-service subscribe-text">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('customer-service')->toHtml() ?> 
	</div>
    <div class="wrapper-newsletter">
    	<label for="newsletter"><?php echo $this->__('Our Newsletter') ?></label><input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email" id="newsletter" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Sign up for our newsletter')) ?>" placeholder="Email /" class="input-text required-entry validate-email" />
	    <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Subscribe')) ?>" class="button no-bg"><?php echo $this->__('Yes, please!') ?></button>	
		
    </div>
</form>

<script type="text/javascript">
//<![CDATA[
    var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
//]]>
</script>