<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js"> <!--<![endif]-->

<head>
    <?php echo $this->getChildHtml('head') ?>
</head>

<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?> data-ng-app="rdpApp" data-ng-cloak>

    <?php echo $this->getChildHtml('after_body_start') ?>
	
    <div class="container-fluid">
        <div class="row">
            <?php echo $this->getChildHtml('global_notices') ?>
            <?php echo $this->getChildHtml('global_messages') ?>
        </div>
    </div>

    <div class="container-fluid">
        <?php echo $this->getChildHtml('header') ?>
    </div>

    <div class="container white-bg">
       <span id="back-top-home">&nbsp;</span>
            <div class="col-xs-12">
                <?php echo $this->getChildHtml('breadcrumbs') ?>
            </div>
           
            <div class="col-xs-12">
					<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home-top-banner')->toHtml() ?> 
            </div>
           
                <?php
                    $storeIds = array(0, Mage::app()->getStore()->getStoreId());

                    $images = Mage::getModel('banner/images')->getCollection()
                        ->setOrder('pos','ASC')
                        ->addFieldToFilter('image_group_id', 1)
                        ->addFieldToFilter('store_id', array('in' => $storeIds));
                ?>
               <div class="">
                <div class="col-xs-12">
                    <div id="scroller-slick">
                        <div class="images">
                            <?php foreach($images as $image): ?>

                                <?php
                                    $imageLink = $image->getLinkUrl();
                                    $imageSrc  = $this->getUrl('media').str_replace(' ','_',$image->getImageUrl());
                                    $imageAlt  = $image->getImageName();
                                ?>
                                <div>
                                    
                                    <a href="<?php echo $imageLink; ?>"><img class="scale-with-grid" data-href="<?php echo $imageLink; ?>" src="<?php echo $imageSrc; ?>" alt="<?php echo $imageAlt; ?>" /></a>

                                </div>

                            <?php endforeach; ?>
                        </div>

                    </div>
                    </div>
                    </div>
                <script>
                    jQuery("#scroller-slick .images").slick({
                        dots: true,
                        arrows: false,
                        autoplay: true,
                        autoplaySpeed: 6000,
                        infinite: true,
                        slidesToShow: 1,
                        slidesToScroll: 1
                    });
                </script>
              <!--   home decoder section strat here -->
				<section class="home-decoder-sec">
					<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home-decor')->toHtml() ?> 
				</section>
            <!-- end here -->
			<!--   New IN section starts-->
				<section class="your-favourites-sec new-in"> 
					<div class="col-xs-12 text-center">
						<h2 class="sec-heading"><span>NEW IN</span></h2><?php //echo $total = $this->helper('checkout/cart')->getQuote()->getGrandTotal();?>
					  
					</div>
      
					<div class="row">
						<div class="large-12 columns">
							<?php 
								$category	=  	Mage::getModel ('catalog/category') 
												->getCollection () 
												->addAttributeToSelect ('name') 
												->addAttributeToFilter ('url_key', 'new-in') 
												->getFirstItem (); 
												//echo '<pre>' ;print_r($category);
								$categoryid		= 	321;
								$category 		= Mage::getModel('catalog/category');
								$category ->load($categoryid);
								$collection = $category->getProductCollection();
								$collection->addAttributeToSelect('*');
								$count_prod = Mage::getModel('catalog/category')->load($categoryid)
								->getProductCount();
								if($count_prod !=0){
								?>
								<div class="owl-carousel owl-theme">
									<?php 
										
											foreach ($collection as $_product) { ?>
											
												
												<div class="product-div">
													<div class="product-img">
												
														<a href="<?php echo $_product->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" width="200" height="200" alt="" />
															<span class="img-content"><h3 class = "add_to_cart">Add to bag</h3></span>
														</a>	
														<figcaption class="price-tag">	
														
															<a href="<?php echo $_product->getProductUrl() ?>"><?php echo $_product->getName(); ?></a>
															<span><?php echo Mage::helper('core')->currency($_product->getPrice(),true,false);?></span>
															<span><?php// echo Mage::helper('core')->currency($_product->getFinalPrice(),true,false); ?></span>
														</figcaption>
															
															
															
														<?php $_product = Mage::getModel('catalog/product')->load($_product->getId());
															  $_url = Mage::helper('checkout/cart')->getAddUrl($_product);
															  $_url = trim($_url);
															  $_url = str_replace('add','addajax',$_url);	  
														?>
												
														<div class="hid_href"><a href="<?php echo $_url ; ?> "></a></div>
														<div class ="prod_id" id="<?php echo $_product->getId() ?>"></div>
														<div class="product-shop cart-message basket-message bg-success prodid<?php echo $_product->getId() ?>"></div>
													</div>
												</div>
												
											
									<?php   }  ?>
							
								</div>
							<?php 
								}
								else{
									
									echo '<p class="text-center">No product found.</p>';
								}
							?>
					  
					 
					  
						</div>
					  
					</div>
				
    
				</section>  
        
      <!--   New IN end here -->
            <!--   your-favourites-section strats here -->
				<section class="your-favourites-sec">
                
					<div class="col-xs-12 text-center">
					  <h2 class="sec-heading"><span>YOUR FAVOURITES</span> <h2>
					</div>
				<?php 
					$categoryfav = Mage::getModel ('catalog/category') 
									->getCollection () 
									->addAttributeToSelect ('name') 
									->addAttributeToFilter ('url_key', 'home-page-favourites') 
									->getFirstItem (); 
					$categoryfavid	= $categoryfav->getID();
					$categoryfav_new = Mage::getModel('catalog/category');
					
					$categoryfav_new ->load($categoryfavid);
					
					$collectionfav = $categoryfav_new->getProductCollection();
					
					$collectionfav->addAttributeToSelect('*');
					$count_prod = Mage::getModel('catalog/category')->load($categoryfavid)
						->getProductCount();
					$collectionfav->setPageSize(4);
					if($count_prod !=0)
					{ 
						foreach ($collectionfav as $_productfav) { 
						
						
						?>
							<div class="col-sm-3 col-xs-6">
								<div class="product-div">
									<div class="product-img">
										<a href="<?php echo $_productfav->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_productfav, 'small_image')->resize(200); ?>">
										<span class="img-content"><h3 class = "add_to_cart">Add to bag</h3></span>

										</a>
										<figcaption class="price-tag">	
													
											<a href="<?php echo $_productfav->getProductUrl() ?>"><?php echo $_productfav->getName(); ?></a>
											<span><?php echo Mage::helper('core')->currency($_productfav->getPrice(),true,false);?></span>
											<span><?php// echo Mage::helper('core')->currency($_product->getFinalPrice(),true,false); ?></span>
										</figcaption>
										<?php $_productfav = Mage::getModel('catalog/product')->load($_productfav->getId());
													  $_url = Mage::helper('checkout/cart')->getAddUrl($_productfav);
													  $_url = trim($_url);
													  $_url = str_replace('add','addajax',$_url);										  
										?>
										
										<div class="hid_href"><a href="<?php echo $_url ; ?> "></a></div>
										<div class ="prod_id" id="<?php echo $_productfav->getId() ?>"></div>
										<div class="product-shop cart-message basket-message bg-success prodid<?php echo $_productfav->getId() ?>"></div>


										
									</div>

								</div>
							</div>
				<?php   } 
					}
						else{
							
							echo '<p class="text-center">No product found.</p>';
						}
				
				?>
                   
                   
                 
                 
              </section>
              <!-- ends here -->

            <section class="gift-idea-sec">
                <div class="col-xs-12 text-center">
                      <h2 class="sec-heading"><span>GIFT IDEAS</span></h2>
                </div>
               <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('gift-ideas')->toHtml() ?> 
            </section>
			<!--   Sales Pick section starts-->

    
			<section class="your-favourites-sec"> 
				<div class="col-xs-12 text-center">
					<h2 class="sec-heading"><span>SALES PICKS</span></h2>
				  
				</div>
  
				<div class="row">
					<div class="large-12 columns">
					<?php 
						$sales_categorys_ob = Mage::getModel ('catalog/category') 
										->getCollection () 
										->addAttributeToSelect ('name') 
										->addAttributeToFilter ('url_key', 'home-sales-pick') 
										->getFirstItem (); 
						$sales_categorysid = $sales_categorys_ob->getID();
						$sales_categorys = Mage::getModel('catalog/category');
						$sales_categorys ->load($sales_categorysid);
						$sales_collection = $sales_categorys->getProductCollection();
						$sales_collection->addAttributeToSelect('*');
						$count_prod = Mage::getModel('catalog/category')->load($sales_categorysid)
							->getProductCount();
						if($count_prod !=0){
								?>
							<div class="owl-carousel owl-theme">
							<?php 
								
									foreach ($sales_collection as $sales_product) { ?>
									
										
										<div class="product-div">
											<div class="product-img">
										
												<a href="<?php echo $sales_product->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($sales_product, 'small_image')->resize(200); ?>" width="200" height="200" alt="" />
													<span class="img-content"><h3 class = "add_to_cart">Add to bag</h3></span>
												</a>	
												<figcaption class="price-tag">	
													<a href="<?php echo $sales_product->getProductUrl() ?>"><?php echo $sales_product->getName(); ?></a>
													<span class="special_price"><?php echo Mage::helper('core')->currency($sales_product->getPrice(),true,false);?></span>
													<span ><?php echo Mage::helper('core')->currency($sales_product->getFinalPrice(),true,false); ?></span>
													
													
												</figcaption>
													
													
													
												<?php 
													$sales_product = Mage::getModel('catalog/product')->load($sales_product->getId());
													$_url = Mage::helper('checkout/cart')->getAddUrl($sales_product);
													$_url = trim($_url);
													$_url = str_replace('add','addajax',$_url);										  
												?>
											
												<div class="hid_href"><a href="<?php echo $_url ; ?> "></a></div>
												<div class ="prod_id" id="<?php echo $sales_product->getId() ?>"></div>
												<div class="product-shop cart-message basket-message bg-success prodid<?php echo $sales_product->getId() ?>"></div>
											</div>
										</div>
										
									
							<?php   } ?>
						
						</div>
				  
				<?php 	}
						else{
							
							echo '<p class="text-center">No product found.</p>';
						}
						?>
				  
					</div>
				  
				</div>
			

			</section>  
        
     
      
      <!--   Sales Pick section ends-->
          
		<div style="display:none">
			<form id = "product_addtocart_form" action = "" method="post">
			<input type="text"  name="qty" id="qty" value="1">
		
			</form>
		</div>
		 <!--   And there is more -->
			<section class="and-there-is-more">       
				<div class="col-xs-12 text-center">
					<h2 class="sec-heading"><span>AND THERE IS MORE</span></h2>
				  
				</div>
				 
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('and-there-is-more')->toHtml() ?> 	
			</section>

		<!--  end here -->
        <div class="">
            <div class="col-xs-12">
                <div class="my-instagram">
                    <script type="text/javascript" src="<?php echo Mage::getBaseUrl() ?>js/evolve/instafeed.min.js"></script>

                    <span class="text-uppercase text-center"><h3 class="insta-heading"><span class="top-insta">Follow us on Instagram <span class="text-lowercase">@rue_des_petits</span></span><h3>
                    
					<div id="instafeed"></div>
					
                    <script type="text/javascript">
                        var feed = new Instafeed({
                            get: 'user',
                            userId: <?php echo (int)Mage::getStoreConfig('blogedit/instagram/instagram_userid',Mage::app()->getStore()) ?>, // User-ID: 2207574492 Owen ID: 2256367116
                            accessToken: '<?php echo Mage::getStoreConfig('blogedit/instagram/instagram_accesstoken',Mage::app()->getStore()) ?>', // Owen AT: 2256367116.467ede5.554f478d48cf42e9a5f4611973a5345e
                            limit: 8,
                            resolution: 'thumbnail',
                            template: '<a href="{{link}}" title="{{caption}}" target="_blank"><img class="img-responsive" src="{{image}}" alt="{{caption}}" /></a>'
                        });
                        feed.run();
                    </script>
                </div>
            </div>
        </div>
     
     

        
            <div class="col-xs-12">
                <div class="seo-text">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('seo-text')->toHtml() ?>
                </div>
            </div>
        
		 <!--   our-promises section strats here -->
	<section class="our-promises-section">   
         <div class="col-xs-12 text-center">
          <h2 class="sec-heading"><span>OUR PROMISES</span></h2>
         </div>
	</section>	 
         <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('our-promises')->toHtml() ?> 

     <!--  end here -->
        <div class="row">
            <?php echo $this->getChildHtml('footer_before') ?>
            <?php echo $this->getChildHtml('footer') ?>
        </div>

        <div class="row">
            <?php echo $this->getChildHtml('global_cookie_notice') ?>
            <?php echo $this->getChildHtml('before_body_end') ?>
            <?php echo $this->getAbsoluteFooter() ?>
        </div>

    </div>
	
</body>
	<script>
		jQuery(document).ready(function() {
		  jQuery('.owl-carousel').owlCarousel({
			loop: true,
			margin: 10,
			dots:false,
			nav: true,
			items: 4,
			responsiveClass: true,
			responsive: {
			  0: {
				items: 1,
				nav: true,
				dots:false,
			  },
			  600: {
				items: 3,
				nav: true,
				dots:false,
			  },
			  1000: {
				items: 4,
				nav: true,
				dots:false,
				loop: true,
				margin: 20
			  }
			}
		  })
		})
			
		/* Add to cart functionality */

		jQuery(document).on('click', 'span.img-content', function(event){
			//jQuery('.product-shop.cart-message.basket-message.bg-success').show();
			event.preventDefault();
			var href= jQuery(this).parent().parent().find('.hid_href a').attr('href');
			var site_url = window.location.href ;
			var site_url_split = site_url.split(':')[0];
			var href_split = href.split(':')[0];
			var prod_id = 0;
			
			console.log(href+'href');
			 //var form_url = jQuery('#product_addtocart_form').attr('action');
			url = href.replace(href_split,site_url_split) ;
			console.log(url+'url');
			var count = 0 ;
			prod_id = parseInt(jQuery(this).parent().parent().find('.prod_id').attr('id'));
			console.log(prod_id);
			var myString = jQuery('#mini-basket').text();
			var begin = jQuery('#mini-basket').find('small').html();
			var end = jQuery('#mini-basket').find('small').last().html();
			var latlong = myString.substring(myString.indexOf('(')+1 , myString.lastIndexOf(')'));
				console.log(latlong);				
			var data = jQuery('#product_addtocart_form').serialize();
				data += '&isAjax=1';
				jQuery.ajax({
						async: true,
                        url: url,
                        dataType: 'json',
                        type : 'post',
                        data: data,
                        success: function(data){
                                jQuery('#ajax_loader').hide();
                                //alert(data.message);
								console.log(data);
								if(data.status=='success'){
									console.log(data);
									/* jQuery('.prodid'+prod_id).html('Product added to cart!').delay(500).fadeIn('normal', function() {
									jQuery(this).delay(2500).fadeOut();
									}); */
									if(latlong==0){
										
										count = count + 1;
									}
									else{
										
										var intval1 = parseInt(latlong);
										count = intval1 +1;
									}	
									window.location.href= site_url;
								}
								else{
									
									jQuery('.prodid'+prod_id).html('Out of stock').delay(500).fadeIn('normal', function() {
										jQuery(this).delay(1000).fadeOut();
									});
										var intval2 = parseInt(latlong);
										count = intval2 ;
									}
									jQuery('#mini-basket').html('<small>(</small>'+count+'<small>)</small>');
								}

				});
				return false;
		});
		jQuery(document).ready(function(){
            jQuery('#back-top-home').click(function(){
                jQuery('html, body').animate({scrollTop: "0px"}, 500);
            });
        });
	
	</script>

	
</html>