<?php
    $item_count   = Mage::helper('checkout/cart')->getCart()->getItemsCount();
    $basket_total = Mage::helper('core')->currency(Mage::getSingleton('checkout/session')->getQuote()->getGrandTotal(), true, false);
    $loadFromSSL = $_SERVER['SERVER_PORT'] == 443 ? true : false;
    $ajaxCartUrl = $loadFromSSL ? str_replace('http://','https://',$this->getUrl('ajax/cart')) : $this->getUrl('ajax/cart');

    $currency = Mage::app()->getStore()->getCurrentCurrency()->getCode();
?>

<a href="<?php echo $this->getUrl('checkout/cart') ?>" id="basket-summary">
    <span class="details" data-ng-init="summaryUrl='<?php echo $ajaxCartUrl; ?>getBasketTotals?currency=<?php echo $currency; ?>'">
        <span class="hidden-xs"> My shopping bag</span>
        <img class="scale-with-grid" src="<?php echo $this->getSkinUrl() ?>images/icons/bag.png" alt="Bag"/>
        <span id="mini-basket"> <small>(</small>{{basket.items}}<small>)</small></span>
    </span>
</a>

<div id="latest-items" data-ng-class="{'open':basketOpen,'stick':boolChangeClass}">
    <h5>SHOPPING BAG <span class="close">x</span></h5>
    <ul class="items">
        <li data-ng-repeat="product in basket.products">
            <a href="<?php echo Mage::getBaseUrl() ?>{{product.url_path}}">
                <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) ?>catalog/product/{{product.small_image}}" class="scale-with-grid" alt="{{product.name}}" />
            </a>
            <div class="details">
                <p class="name">{{product.name}}</p>
                <p class="qty">Qty: x{{product.basket_qty}}</p>
                <p class="details">{{product.option[0].label}} {{product.option[0].value}}</p>
                <p class="price">{{product.price}}</p>
            </div>
        </li>
    </ul>
    <footer>
        <h5 class="text-right"><strong>Grand Total: </strong>{{basket.totals.formatted.grand_total}}</h5>
        <button onclick="window.location='<?php echo $this->getUrl('checkout/cart') ?>'" class="button green">GO TO SHOPPING BAG</button>
    </footer>
</div>

<script>
    jQuery(document).ready(function(){
        jQuery('#basket-summary').on('touchend', function(e){
            e.preventDefault();
            if(!jQuery('#latest-items').hasClass('open'))
            {
                jQuery('#latest-items').addClass('open');
            }
            else
            {
                jQuery('#latest-items').removeClass('open');
            }
        });

        jQuery('#latest-items .close').click(function(){
            jQuery('#latest-items').removeClass('open');
        });
    });
</script>