<div class="col-xs-12">
    <footer id="footer">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="footer-links">
                    <div class="calendar-2016">
                        <p>&nbsp;</p>
                    </div>
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_links')->toHtml() ?>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
            <div class="social">
                    <span>FOLLOW US ON</span>
                    <a href="https://www.facebook.com/Rue-des-Petits-1477250575918513/" target="_blank">
                        <img class="img-responsive" src="<?php echo $this->getSkinUrl() ?>images/icons/facebook.png" alt="Facebook"/>
                    </a>
                    <a href="https://www.instagram.com/rue_des_petits/" target="_blank">
                        <img class="img-responsive" src="<?php echo $this->getSkinUrl() ?>images/icons/instagram.png" alt="Instagram"/>
                    </a>
                    <a href="<?php echo Mage::getBaseUrl() ?>blog" target="_blank">
                        <img class="img-responsive" src="<?php echo $this->getSkinUrl() ?>images/icons/blog.png" alt="Blog"/>
                    </a>
                	</div>
                <a href="http://www.babyccinokids.com/shop/view/ruedespetits.html" target="_blank"><img class="img-responsive babyccinokids visible-xs" src="http://cdn.babyccinokids.com/shop/images/seal.png" /></a>
            </div>

            <!--<div class="col-sm-4 col-xs-12 footer-children hidden-xs">
    		    <a href="http://www.babyccinokids.com/shop/view/ruedespetits.html"><img class="img-responsive babyccinokids" src="http://cdn.babyccinokids.com/shop/images/seal.png" /></a>
               <!-- <img class="img-responsive" src="<?php //echo $this->getSkinUrl() ?>images/icons/children-footer.png" />-->
            <!--</div>-->

            <div class="col-xs-12 sub-footer">
                <div class="content-sub-footer">
                    <ul class="hidden-xs">
                        <li>Ecommerce by <a href="http://www.evolveretail.com" target="_blank">Evolve Retail</a></li>
                        <li><a href="<?php echo Mage::getBaseUrl() ?>terms-conditions">Terms & Conditions</a></li>
                        <li><a href="<?php echo Mage::getBaseUrl() ?>legal-privacy">Legal & Privacy</a></li>
                        <li><?php echo $this->getCopyright() ?></li>
                    </ul>
                    <ul class="visible-xs">
                        <li>
                            <a href="<?php echo Mage::getBaseUrl() ?>terms-conditions">T&Cs</a>
                            <a href="<?php echo Mage::getBaseUrl() ?>legal-privacy">Legal & Privacy</a>
                        </li>
                        <li>
                            <?php echo $this->getCopyright() ?> | Ecommerce by <a href="http://www.evolveretail.com" target="_blank">Evolve Retail</a>
                        </li>
                    </ul>
                    <img class="img-responsive" src="<?php echo $this->getSkinUrl() ?>images/icons/payment-icons.png" alt="Accepted Payment Types" />
                </div>
            </div>
        </div>
    </footer>
    <div class="social social-positioned">
                    <!--<span>FOLLOW US ON</span>-->
                    <a href="https://www.facebook.com/Rue-des-Petits-1477250575918513/" target="_blank">
                        <img class="img-responsive" src="<?php echo $this->getSkinUrl() ?>images/icons/facebook.png" alt="Facebook"/>
                    </a>
                    <a href="https://www.instagram.com/rue_des_petits/" target="_blank">
                        <img class="img-responsive" src="<?php echo $this->getSkinUrl() ?>images/icons/instagram.png" alt="Instagram"/>
                    </a>
                    <a href="<?php echo Mage::getBaseUrl() ?>blog" target="_blank">
                        <img class="img-responsive" src="<?php echo $this->getSkinUrl() ?>images/icons/blog.png" alt="Blog"/>
                    </a>
                	</div>
</div>

<?php echo $this->getChildHtml('app_init') ?>