<?php
    $loggedIn = Mage::getSingleton('customer/session')->isLoggedIn();
	
	if(isset($_GET['thirdparty']) && $_GET['thirdparty'] != "")
	{
		$_SESSION['thirdparty'] = trim(strtolower($_GET['thirdparty']));
	}
?>
<div class="row">
    <div class="header-message"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('header-message')->toHtml() ?></div>
   
    <div class="free-delivery"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('header-delivery')->toHtml() ?></div>
</div>

<div class="nav-overlay">&nbsp;</div>
<div class="visible-xs">
    <?php echo $this->getChildHtml('topMenu') ?>
</div>

<?php echo $this->getChildHtml('newsletter_popup') ?>
<div id="main_header_sticky" class="sticky-wrapper">
<header id="header">

    <div class="container white-bg">

        <div class="visible-xs menu-button">
            <svg id="menu-btn" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="4px" y="4px" width="23px" height="17px" viewBox="0 0 18 12" enable-background="new 0 0 18 12" xml:space="preserve">
                <g id="Layer_x25_201">
                    <rect width="18" height="2" style="fill:#abd8c5;"></rect>
                    <rect y="5" width="18" height="2" style="fill:#abd8c5;"></rect>
                    <rect y="10" width="18" height="2" style="fill:#abd8c5;"></rect>
                </g>
            </svg>
        </div>

        <div class="newsletter">
            <?php echo $this->getChildHtml('newsletter') ?>
        </div>

        <div class="header-middle-mobile visible-xs" >
            <div class="row">
                <div class="col-xs-4 text-left">
                    <div class="newsletter-mobile">
                        <img class="img-responsive" src="<?php echo $this->getSkinUrl() ?>images/icons/newsletter.png" alt="newsletter" />
                    </div>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="account">
                        <img class="img-responsive" src="<?php echo $this->getSkinUrl() ?>images/icons/account.png" alt="account" />
                        <ul>
                        <?php if($loggedIn): ?>
                            <li><a href="<?php echo $this->getBaseUrl() ?>customer/account">MY ACCOUNT</a></li>
                            <li><a href="<?php echo $this->getBaseUrl() ?>customer/account/logout">LOGOUT</a></li>
                        <?php else: ?>
                            <li><a href="<?php echo $this->getBaseUrl() ?>customer/account/create">Register</a></li>
                            <li><a href="<?php echo $this->getBaseUrl() ?>customer/account/login">Login</a></li>
                        <?php endif; ?>
                        </ul>
                    </div>        
                </div>
                <div class="col-xs-4 text-right">
                    <div class="currency">
                        <?php echo $this->getChildHtml('store_changer') ?>
                    </div>
                </div>
            </div>
            
        </div>

        <a class="logo" href="<?php echo $this->getUrl('') ?>">
            <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="img-responsive" />
        </a>

        <div class="header-links">
            <div class="header-wrapper">
                <div class="currency hidden-xs">
                    <?php echo $this->getChildHtml('store_changer') ?>
                </div>
				<div class="account hidden-xs">
                    <?php if($loggedIn): ?>
                        <span><a href="<?php echo $this->getBaseUrl() ?>customer/account">MY ACCOUNT</a> / <a href="<?php echo $this->getBaseUrl() ?>customer/account/logout">LOGOUT</a></span>
                    <?php else: ?>
                        <span><a href="<?php echo $this->getBaseUrl() ?>customer/account/create">Register</a> / <a href="<?php echo $this->getBaseUrl() ?>customer/account/login">Login</a></span>
                    <?php endif; ?>
                </div>
				<div class="separator">-</div>
                <div class="cart" data-ng-controller="BasketSummaryController" data-ng-mouseenter="basketSummaryHover(true)" data-ng-mouseleave="basketSummaryHover(false)">
                    <?php echo $this->getChildHtml('basket_summary') ?>
                </div>
                <div class="search">
                    <?php echo $this->getChildHtml('topSearch') ?>
                </div>
                
            </div>
        </div>
    </div>
</header>

<div class="container white-bg">
   
    <div class="col-xs-12">
        <div class="hidden-xs">
            <?php echo $this->getChildHtml('topMenu') ?>
        </div>
        <?php echo $this->getChildHtml('topContainer'); ?>
    </div>
    
</div>

<script>
    jQuery(document).ready(function(){

        jQuery('#menu-btn').click(function(){
            if(jQuery('body').hasClass('show-nav'))
            {
                jQuery('body').removeClass('show-nav');
            }
            else
            {
                jQuery('body').addClass('show-nav');
            }
        });

        jQuery('.nav-overlay').click(function(){
            if(jQuery('body').hasClass('show-nav'))
            {
                jQuery('body').removeClass('show-nav');
            }
        });

        jQuery('.account > img').click(function(){
            jQuery('.account > ul').toggleClass('show');
        });

        jQuery('nav.nav ul li > span').click(function(){
            jQuery(this).toggleClass('show');
            jQuery(this).parent().children('ul').toggleClass('show');
        });

        jQuery('.header-middle-mobile .current-currency').click(function(){
            jQuery('.header-middle-mobile .currency > div').toggleClass('show');
        });

        jQuery('.newsletter-mobile').click(function(){
            jQuery('#header .newsletter').toggleClass('show');
        });
    });
</script>
 
