<?php
    $loadFromSSL   = $_SERVER['SERVER_PORT'] == 443 ? true : false;
    $newsletterUrl = $loadFromSSL ? str_replace('http://','https://',$this->getUrl('newsletterpopup/signup/new')) : $this->getUrl('newsletterpopup/signup/new');

    $enabled = Mage::getStoreConfig('evolve/general/enabled');
    $image   = Mage::getBaseUrl('media') . 'newsletter/' .  Mage::getStoreConfig('evolve/general/image');
    $time    = (int)Mage::getStoreConfig('evolve/general/time') * 1000;
?>

<?php if($enabled): ?>
		<div class="newsletter-main">
		<div class="newsletter-popup">
			<span class="close">x</span>
			<img class="img-responsive" src="<?php echo $image ?>" alt="Sign-up to our Newsletter"/>
			<p>Sign-up to our Newsletter to hear about our latest news, promotions and offers</p>
			<form action="<?php echo $newsletterUrl ?>" method="post">
				<div class="input-box-wrap">
					<div class="input-box">
						<label for="firstname">First Name</label>
						<input name="firstname" type="text" value="" id="firstname" required="required"/>
					</div>
					<div class="input-box">
						<label for="lastname">Last Name</label>
						<input name="lastname" type="text" value="" id="lastname" required="required"/>
					</div>
				</div>
				<div class="input-box-wrap last">
					<div class="input-box">
						<label for="email">Email Address</label>
						<input name="email" type="email" value="" id="email" required="required" />
					</div>
					<input name="submit" type="submit" value="SIGN-UP!" id="submit" class="button green" />
				</div>
			</form>
		
	</div>
	</div>

    <script>
        jQuery(document).ready(function(){

            if(!jQuery.cookie("newsletter"))
            {
                setTimeout(function(){
					jQuery('.newsletter-popup').parent().addClass('newsletter-overlay');
                    jQuery('.newsletter-popup').addClass('show');
					 
                }, <?php echo $time ?>)
            }

            jQuery('.newsletter-popup form').submit(function(){
                jQuery.cookie("newsletter", "true", {path: '/'});
            });

            jQuery('.newsletter-popup .close').click(function(){
				jQuery('.newsletter-popup').removeClass('show');
                jQuery('.newsletter-overlay').addClass('newsletter-overlay-hide');
                jQuery.cookie("newsletter", "true", {path: '/'});
            });
        });
    </script>
<?php endif; ?>