<script type="text/javascript" src="<?php echo $this->getSkinUrl('owlcarousel/owl.carousel.js') ?>"></script>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/jquery.sticky.js') ?>"></script>

<script type="text/javascript">
jQuery("#main_header_sticky").sticky({
    topSpacing:0,
    zIndex:10,
    responsiveWidth: true
});

	</script>