<?php
    $currentCurrency = Mage::app()->getStore()->getCurrentCurrency()->getCode();
    $details = $this->getCurrencyDetails($currentCurrency);
    $symbol  = Mage::app()->getLocale()->currency($currentCurrency)->getSymbol();

    $countryId = Mage::app()->getStore()->getCurrentCurrencyCode();
?>

<span class="current-currency visible-xs"><?php echo $symbol ?></span>

<div>
    <a id="gbp" href="<?php echo $this->getAlternateUrl('en') ?>">£</a>
<?php //foreach ($details['other'] as $otherCurrency): ?>
    <!--<a id="eur" href="<?php/// echo $this->getAlternateUrl($otherCurrency['url']) ?>">&euro;</a>-->
<?php //endforeach; ?>
<a id="eur" href="<?php echo $this->getAlternateUrl('eu')?>">&euro;</a>
</div>

<script>
    jQuery(document).ready(function(){
        var currency = '<?php echo strtolower($countryId) ?>';
        if(currency == "gbp")
        {
            jQuery('.currency #eur').removeClass('selected');
            jQuery('.currency #gbp').addClass('selected');
        }
        else
        {
            jQuery('.currency #eur').addClass('selected');
            jQuery('.currency #gbp').removeClass('selected');
        }
    });
</script>