<?php
    $curCategory = Mage::registry('current_category');
    $curCatUrlKey = "";

    if(!$curCategory)
    {
        if(Mage::getBlockSingleton('page/html_header')->getIsHomePage())
        {
            $curCatUrlKey = "home";
        }
    }
    else
    {
        $curCatUrlKey = $curCategory->getUrlKey();
    }

    $categories = Mage::getModel('catalog/category')
        ->getCollection()
        ->addAttributeToSelect('*')
        ->addIsActiveFilter()
        ->addAttributeToFilter('include_in_menu' , 1)
        ->addFieldToFilter('entity_id', array('neq' => 2))
        ->addFieldToFilter('level', array('eq' => 2))
        ->addAttributeToSort('position', 'asc');
?>

<nav class="nav">
    <ul class="top-nav">
        <!--<li id="home"><a href="<?php //echo $this->getBaseUrl() ?>">Home</a></li>-->
        <?php
            foreach($categories as $category)
            {
                if ($category->getNavigationLevel() == 'top') {
                    $url  = $category->getUrl();
                    $name = $category->getName();
                    $childrenCount = $category->getChildrenCount();

                    // Brands Category
                    if($category->getId() == 8)
                    {
                        // has subcategories
                        if ($childrenCount > 0)
                        {
                            $subCats = Mage::getModel('catalog/category')
                                ->getCollection()
                                ->addAttributeToSelect('*')
                                ->addIsActiveFilter()
                                ->addAttributeToFilter('include_in_menu', 1)
                                ->addFieldToFilter('parent_id', array('eq' => $category->getId()))
                                ->addAttributeToSort('name', 'asc');

                            $alphaArray = array(
                                'a' => array(),
                                'b' => array(),
                                'c' => array(),
                                'd' => array(),
                                'e' => array(),
                                'f' => array(),
                                'g' => array(),
                                'h' => array(),
                                'i' => array(),
                                'j' => array(),
                                'k' => array(),
                                'l' => array(),
                                'm' => array(),
                                'n' => array(),
                                'o' => array(),
                                'p' => array(),
                                'q' => array(),
                                'r' => array(),
                                's' => array(),
                                't' => array(),
                                'u' => array(),
                                'v' => array(),
                                'w' => array(),
                                'x' => array(),
                                'y' => array(),
                                'z' => array(),
                            );

                            echo '<li class="parent brands" id="' . $category->getUrlKey() . '">
                                    <a href="' . $url . '" style="color:'.$category->getNavColour().'">' . $name . '</a><span class="visible-xs">+</span>
                                    <ul>';

                            foreach ($subCats as $subCat)
                            {
                                $url = $subCat->getUrl();
                                $name = $subCat->getName();
                                $char = strtolower(substr($name, 0, 1));

                                $subCatArr = array(
                                    'name' => $name,
                                    'url'  => $url
                                );

                                array_push($alphaArray[$char], $subCatArr);
                            }

                            foreach($alphaArray as $index => $key)
                            {
                                if(count($key))
                                {
                                    if($index == "s")
                                    {
                                        echo '<li class="house-img"><img class="img-responsive" src="'.$this->getSkinUrl().'images/brands/house1.png" /></li>';
                                    }
                                    echo '<li><span>' . $index . '</span>
                                        <ul>';
                                    foreach ($key as $_cat) {
                                        echo '<li><a href="' . $_cat["url"] . '">' . $_cat["name"] . '</a></li>';
                                    }
                                    echo '</ul>
                                    </li>';
                                }
                            }

                            echo '</ul>
                                </li>';
                        }
                        else
                        {
                            echo '<li id="' . $category->getUrlKey() . '"><a href="' . $url . '">' . $name . '</a></li>';
                        }
                    }
                    else
                    {
                        // has subcategories
                        if ($childrenCount > 0)
                        {
                            $subCats = Mage::getModel('catalog/category')
                                ->getCollection()
                                ->addAttributeToSelect('*')
                                ->addIsActiveFilter()
                                ->addAttributeToFilter('include_in_menu', 1)
                                ->addFieldToFilter('parent_id', array('eq' => $category->getId()))
                                ->addAttributeToSort('position', 'asc');

                            /*echo '<li class="parent" id="' . $category->getUrlKey() . '">
                                    <a href="' . $url . '" style="color:'.$category->getNavColour().'">' . $name . '</a><span class="visible-xs">+</span>
                                    <ul>
                                    <div>';*/
									
							echo '<li class="parent" id="' . $category->getUrlKey() . '">
                                    <a href="' . $url . '">' . $name . '</a><span class="visible-xs">+</span>
                                    <ul>
                                    <div>';		

                            foreach ($subCats as $subCat)
                            {
                                $url = $subCat->getUrl();
                                $name = $subCat->getName();
                                $childrenCount = $subCat->getChildrenCount();

                                if ($childrenCount > 0 && $subCat->getId() != 135)
                                {
                                    $subCats = Mage::getModel('catalog/category')
                                        ->getCollection()
                                        ->addAttributeToSelect('*')
                                        ->addIsActiveFilter()
                                        ->addAttributeToFilter('include_in_menu', 1)
                                        ->addFieldToFilter('parent_id', array('eq' => $subCat->getId()))
                                        ->addAttributeToSort('position', 'asc');

                                    echo '<li class="sub-parent" id="'.$subCat->getUrlKey().'">
                                            <a href="' . $url . '">' . $name . '</a><span class="visible-xs">+</span><span class="hidden-xs">></span>
                                            <ul>';

                                    foreach ($subCats as $subCat)
                                    {
                                        $url = $subCat->getUrl();
                                        $name = $subCat->getName();

                                        echo '<li id="'.$subCat->getUrlKey().'"><a href="' . $url . '">' . $name . '</a></li>';
                                    }

                                    echo '</ul>
                                        </li>';
                                }
                                else
                                {
                                    echo '<li id="'.$subCat->getUrlKey().'"><a href="' . $url . '">' . $name . '</a></li>';
                                }
                            }

                            /* if($category->getId() == 40)
								{
									echo '<li id="inspiration-for-mums"><a href="'.Mage::getBaseUrl().'gift-ideas/inspiration-for-mums.html">Inspiration for Mums</a></li>';
								}
							*/
                            echo '</div>';

                            if ($category->getNavImage())
                            {
                                if($category->getId() == 3)
                                {
                                    echo '<a href="'.$this->getBaseUrl().'gift-services"><img class="img-responsive" src="' . Mage::getBaseUrl("media") . 'catalog/category/' . $category->getNavImage() . '" alt="' . $category->getName() . '" /></a>';
                                }
                                else
                                {
                                    echo '<img class="img-responsive" src="' . Mage::getBaseUrl("media") . 'catalog/category/' . $category->getNavImage() . '" alt="' . $category->getName() . '" />';
                                }
                            }

                            echo '</ul>
                                </li>';
                        }
                        else
                        {
							if($category->getId() == 287)
							{
								echo '<li id="' . $category->getUrlKey() . '"><a target="_blank" href="' . $url . '" style="color:'.$category->getNavColour().'">' . $name . '</a></li>';
							}
							else
							{
								echo '<li id="' . $category->getUrlKey() . '"><a href="' . $url . '" style="color:'.$category->getNavColour().'">' . $name . '</a></li>';
							}
						}
                    }    
                }
                
            }

        ?>
    </ul>
    <ul class="bottom-nav">
        <?php
            foreach($categories as $category)
            {
                if ($category->getNavigationLevel() == 'bottom') {
                    $url  = $category->getUrl();
                    $name = $category->getName();
                    $childrenCount = $category->getChildrenCount();

                    // Brands Category
                    if($category->getId() == 8)
                    {
                        // has subcategories
                        if ($childrenCount > 0)
                        {
                            $subCats = Mage::getModel('catalog/category')
                                ->getCollection()
                                ->addAttributeToSelect('*')
                                ->addIsActiveFilter()
                                ->addAttributeToFilter('include_in_menu', 1)
                                ->addFieldToFilter('parent_id', array('eq' => $category->getId()))
                                ->addAttributeToSort('name', 'asc');

                            $alphaArray = array(
                                'a' => array(),
                                'b' => array(),
                                'c' => array(),
                                'd' => array(),
                                'e' => array(),
                                'f' => array(),
                                'g' => array(),
                                'h' => array(),
                                'i' => array(),
                                'j' => array(),
                                'k' => array(),
                                'l' => array(),
                                'm' => array(),
                                'n' => array(),
                                'o' => array(),
                                'p' => array(),
                                'q' => array(),
                                'r' => array(),
                                's' => array(),
                                't' => array(),
                                'u' => array(),
                                'v' => array(),
                                'w' => array(),
                                'x' => array(),
                                'y' => array(),
                                'z' => array(),
                            );

                            echo '<li class="parent brands" id="' . $category->getUrlKey() . '">
                                    <a href="' . $url . '" style="color:'.$category->getNavColour().'">' . $name . '</a><span class="visible-xs">+</span>
                                    <ul>';

                            foreach ($subCats as $subCat)
                            {
                                $url = $subCat->getUrl();
                                $name = $subCat->getName();
                                $char = strtolower(substr($name, 0, 1));

                                $subCatArr = array(
                                    'name' => $name,
                                    'url'  => $url
                                );

                                array_push($alphaArray[$char], $subCatArr);
                            }

                            foreach($alphaArray as $index => $key)
                            {
                                if(count($key))
                                {
                                    if($index == "s")
                                    {
                                        echo '<li class="house-img"><img class="img-responsive" src="'.$this->getSkinUrl().'images/brands/house1.png" /></li>';
                                    }
                                    echo '<li><span>' . $index . '</span>
                                        <ul>';
                                    foreach ($key as $_cat) {
                                        echo '<li><a href="' . $_cat["url"] . '">' . $_cat["name"] . '</a></li>';
                                    }
                                    echo '</ul>
                                    </li>';
                                }
                            }

                            echo '</ul>
                                </li>';
                        }
                        else
                        {
                            echo '<li id="' . $category->getUrlKey() . '"><a href="' . $url . '" style="color:'.$category->getNavColour().'">' . $name . '</a></li>';
                        }
                    }
                    else
                    {
                        // has subcategories
                        if ($childrenCount > 0)
                        {
                            $subCats = Mage::getModel('catalog/category')
                                ->getCollection()
                                ->addAttributeToSelect('*')
                                ->addIsActiveFilter()
                                ->addAttributeToFilter('include_in_menu', 1)
                                ->addFieldToFilter('parent_id', array('eq' => $category->getId()))
                                ->addAttributeToSort('position', 'asc');

                            $icon_html = $subCats->getSize() > 0 ? '<span class="visible-xs">+</span>' : '';

                            echo '<li class="parent" id="' . $category->getUrlKey() . '">
                                    <a href="' . $url . '" style="color:'.$category->getNavColour().'">' . $name . '</a>'.$icon_html.'
                                    <ul>
                                    <div>';


                            foreach ($subCats as $subCat)
                            {
                                $url = $subCat->getUrl();
                                $name = $subCat->getName();
                                $childrenCount = $subCat->getChildrenCount();

                                if ($childrenCount > 0 && $subCat->getId() != 135)
                                {
                                    $subCats = Mage::getModel('catalog/category')
                                        ->getCollection()
                                        ->addAttributeToSelect('*')
                                        ->addIsActiveFilter()
                                        ->addAttributeToFilter('include_in_menu', 1)
                                        ->addFieldToFilter('parent_id', array('eq' => $subCat->getId()))
                                        ->addAttributeToSort('position', 'asc');

                                    echo '<li class="sub-parent" id="'.$subCat->getUrlKey().'">
                                            <a href="' . $url . '">' . $name . '</a><span class="visible-xs">+</span><span class="hidden-xs">></span>
                                            <ul>';

                                    foreach ($subCats as $subCat)
                                    {
                                        $url = $subCat->getUrl();
                                        $name = $subCat->getName();

                                        echo '<li id="'.$subCat->getUrlKey().'"><a href="' . $url . '">' . $name . '</a></li>';
                                    }

                                    echo '</ul>
                                        </li>';
                                }
                                else
                                {
                                    echo '<li id="'.$subCat->getUrlKey().'"><a href="' . $url . '">' . $name . '</a></li>';
                                }
                            }

                            if($category->getId() == 40)
                            {
                                echo '<li id="inspiration-for-mums"><a href="'.Mage::getBaseUrl().'gift-ideas/inspiration-for-mums.html">Inspiration for Mums</a></li>';
                            }

                            echo '</div>';

                            if ($category->getNavImage())
                            {
                                if($category->getId() == 3)
                                {
                                    echo '<a href="'.$this->getBaseUrl().'gift-services"><img class="img-responsive" src="' . Mage::getBaseUrl("media") . 'catalog/category/' . $category->getNavImage() . '" alt="' . $category->getName() . '" /></a>';
                                }
                                else
                                {
                                    echo '<img class="img-responsive" src="' . Mage::getBaseUrl("media") . 'catalog/category/' . $category->getNavImage() . '" alt="' . $category->getName() . '" />';
                                }
                            }

                            echo '</ul>
                                </li>';
                        }
                        else
                        {
                            if($category->getId() == 287)
							{
								echo '<li id="' . $category->getUrlKey() . '"><a target="_blank" href="' . $url . '" style="color:'.$category->getNavColour().'">' . $name . '</a></li>';
							}
							else
							{
								echo '<li id="' . $category->getUrlKey() . '"><a href="' . $url . '" style="color:'.$category->getNavColour().'">' . $name . '</a></li>';
							}
                        }
                    }    
                }
                
            }

        ?>
    </ul>
</nav>

<script>
    jQuery(document).ready(function(){

        var category = "<?php echo $curCatUrlKey ?>";
        jQuery('.nav ul li').each(function(){
            if(jQuery(this).attr('id') == category)
            {
                jQuery(this).addClass('active');
                if(jQuery(this).parent().parent().parent('li').length == 1)
                {
                    jQuery(this).parent().parent().parent('li').addClass('active');
                }
                if(jQuery(this).parent().parent().parent().parent().parent('li').length == 1)
                {
                    jQuery(this).parent().parent('li').addClass('active');
                    jQuery(this).parent().parent().parent().parent().parent('li').addClass('active');
                }
            }
        });

		jQuery('nav li:has(ul)').doubleTapToGo();
		
    });
</script>
   
</div>